<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Catalogo Film</title>
        <link rel="shortcut icon" href="../static/dist/img/favicon.ico">
          <link href="../static/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../static/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="../static/docs/assets/css/demo.css" rel="stylesheet">
	</head>
	<body>
    <div class="container" style="padding-bottom:20px">
        <div style="padding-top:15px">
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg"><span class="fui-home"></span></button>
            </a>
        </div>
        <div  align="right">
        <form class="form-inline" role="form" action="/filtra-catalogo/" method="post">
                {% csrf_token %}
                <label for="generi"><p style="margin:0px;padding-right:10px"><b>Filtra per</b></p></label>
                    <div class="form-group" align="left">
                        <select id="generi" name="generi" class="form-control select select-primary" data-toggle="select">
                            {% for genere in generi %}
                                <option value="{{ genere.nome }}">{{ genere.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                <button type="submit" class="btn btn-primary">OK</button>
              </form>
        </div>
        <div>
            <h1>Catalogo Film <a href="/catalogo-film/" style="margin-left:370px"><button type="button" class="btn btn-primary btn-lg">Catalogo Completo</button></a></h1>
        </div>
        <dl class="palette palette-turquoise">
            <dt style="font-size:28px">{{ genere }}</dt>
        </dl>
        {% for film in films %}
        <dl class="palette palette-green-sea">
            <dd style="font-size:20px"><b>{{ film.titolo }}</b></dd>
            <dd>Regista:&nbsp{{ film.regista }}</dd>
            <dd>Anno:&nbsp{{ film.anno }}</dd>
        </dl>
        {% endfor %}
    </div>


    <!-- Scripts js -->
		<script src="../static/dist/js/vendor/jquery.min.js"></script>
		<script src="../static/dist/js/flat-ui.min.js"></script>
		<script src="../static/docs/assets/js/application.js"></script>
	</body>
</html>