<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Film Salvato</title>
        <link rel="shortcut icon" href="../static/dist/img/favicon.ico">
	    <link href="../static/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../static/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="../static/docs/assets/css/demo.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" style="padding-top:20px">
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg"><span class="fui-home"></span></button>
            </a>
            <h3>Film inserito correttamente</h3>
            <h4>{{ message }}</h4>
            <div>
                <dl class="palette palette-turquoise">
                    <dt style="font-size:20px">{{ form_fields.titolo }}</dt>
                    <dd>Regista: {{ form_fields.regista }}</dd>
                    <dd>Anno: {{ form_fields.anno }}</dd>
                    <dd>Genere: {{ genere }}</dd>
                </dl>
            </div>
            <div align="center" style="padding-top:15px">
            <a href="/inserisci-film/">
                <button type="button" class="btn btn-success btn-hg">Inserisci un altro film</button>
            </a>
            </div>
		</div>
		<!-- Scripts js -->
		<script src="../static/dist/js/vendor/jquery.min.js"></script>
		<script src="../static/dist/js/flat-ui.min.js"></script>
		<script src="../static/docs/assets/js/application.js"></script>
	</body>
</html>