<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Form non valida</title>
	</head>
	<body>
		<h1>Inserisci Film</h1>
		<h3>Form non valida</h3>
		<form action="/salva-film/" method="post">
			{% csrf_token %}
			<label for="titolo">Titolo: </label>
			{{ form.titolo }}
			<label for="regista">Regista: </label>
			{{ form.regista }}
			<select name="generi">
				{% for genere in generi %}
					<option value="{{ genere.nome }}">{{ genere.nome }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="OK">
		</form>
	</body>
</html>