<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Inserisci Genere</title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../static/css/flat-ui.css" rel="stylesheet">
	    <link href="../static/css/demo.css" rel="stylesheet">
	</head>
	<body>
        <div class="container" >
		<div style="padding-top:10px">
		<a href="/">
			<button type="button" class="btn btn-primary btn-lg"><</button>
		</a>
		</div>
		<div class="row">
        <div class="col-md-12">
          <h4>Inserisci Genere</h4>
          <form class="form-inline" role="form" action="/salva-genere/" method="post">
          	{% csrf_token %}
            <div class="form-group">
              <label class="sr-only" for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">OK</button>
          </form>
        </div>
		</div>
		</div>

            <!-- Scripts js -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/flat-ui.min.js"></script>
		<script src="../static/js/application.js"></script>
	</body>
</html>