<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Form non valida</title>
		<link href="../static/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../static/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="../static/docs/assets/css/demo.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
		<div style="padding-top:10px">
		<a href="/">
			<button type="button" class="btn btn-primary btn-lg"><span class="fui-home"></span></button>
		</a>
		</div>
		<div class="row">
        <div class="col-md-12">
          <h4>Inserisci Film</h4>
          <p><b>Form non valida.</b></p>
          <p>Ricorda che i campi Titolo, Regista ed Anno sono obbligatori. Inoltre Anno può essere scelto in un intervallo da 1890 a 99999.</p>
          <form class="form-inline" role="form" action="/salva-film/" method="post">
          	{% csrf_token %}
            <div class="form-group">
              <label class="sr-only" for="titolo">Titolo</label>
              {{ form.titolo }}
            </div>
            <div class="form-group">
              <label class="sr-only" for="regista">Regista</label>
              {{ form.regista }}
            </div>
            <div class="form-group">
              <label class="sr-only" for="regista">Anno</label>
              {{ form.anno }}
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
        	<select name="generi" class="form-control select select-primary" data-toggle="select">
				{% for genere in generi %}
					<option value="{{ genere.nome }}">{{ genere.nome }}</option>
				{% endfor %}
			</select>
            </div>
            <button type="submit" class="btn btn-primary">OK</button>
          </form>
        </div>
		</div>
		</div>
		<!-- Scripts js -->
		<script src="../static/dist/js/vendor/jquery.min.js"></script>
		<script src="../static/dist/js/flat-ui.min.js"></script>
		<script src="../static/docs/assets/js/application.js"></script>
	</body>
</html>